@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
}
body {
  overflow-y: scroll;
}
.rm-mobile,
.rm-navbar-max,
.outer-wrap-flash,
.region-flash,
.rm-submenu-button {
  display: none;
}
.region-header-col-1 {
  display: none;
}
.region-header {
  display: grid;
}
.region-header div[class^=region-header-col-] .my-navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-bottom: 20px;
}
.region-header div[class^=region-header-col-] .my-navbar,
.region-header div[class^=region-header-col-] .my-navbar ul {
  list-style-type: none;
  padding: 0;
}
.region-header div[class^=region-header-col-] .my-navbar a {
  color: #515151;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
.region-header div[class^=region-header-col-] .my-navbar li {
  position: relative;
  display: block;
  margin: 20px auto 0 auto;
  padding: 20px;
}
.region-header div[class^=region-header-col-] .my-navbar li:hover ul {
  visibility: visible;
}
.region-header div[class^=region-header-col-] .my-navbar li ul {
  visibility: hidden;
}
.region-header div[class^=region-header-col-] .my-navbar li ul li {
  padding: 0;
}
main.region-main {
  padding: 0 20px;
}
.outer-wrap-footer {
  bottom: 0;
  margin: 80px 20px 0 20px;
}
.region-footer {
  display: none;
}
.region-footer .columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 20px;
}
.region-footer .site-footer {
  margin: 0 auto;
  text-align: center;
}
form .input-container label {
  display: block;
  margin-top: 10px;
}
.route-posts-new .input-container label {
  display: block;
  margin-top: 10px;
}
div.post {
  background-color: #ebebeb;
  margin: 20px 0;
  padding: 20px 60px;
  position: relative;
}
div.post.single {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 40px 1fr;
}
div.post.single .vote {
  row-gap: 5px;
}
div.post.single .vote .arrow-up {
  place-self: end;
}
div.post.single .post-score {
  place-self: center baseline;
}
div.post.single .tags {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
div.post.single .tags::before {
  content: "Tags: ";
}
div.post.single .tags .tag {
  background-color: #4b4b64;
  color: white;
  margin: 0 2px;
  padding: 3px 10px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}
div.post a.post-link {
  text-decoration: none;
  color: inherit;
}
div.post .title {
  margin: 10px 0 20px 0;
}
div.post a.username {
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
}
main {
  margin: 0 20vw;
}
.preview-content * {
  display: inline;
  width: fit-content;
  font-size: 1em;
  opacity: 0.8;
}
.preview-content img {
  display: none;
}
.create-post {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  background-color: #52c41a;
}
.no-posts {
  position: absolute;
  width: fit-content;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #cfcfcf;
}
.input-container {
  margin-bottom: 20px;
  width: 250px;
}
.input-container input,
.input-container textarea {
  margin: 10px 0;
  width: 100%;
}
.input-container input {
  outline: none;
  padding: 5px 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.input-container input:hover:not(:focus) {
  background-color: rgba(0, 0, 0, 0.01);
}
.input-container textarea {
  resize: none;
  padding: 5px;
}
form#createPost input[type=submit] {
  padding: 10px 15px;
  border: none;
  background-color: #52c41a;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.comments-container {
  background-color: #cccccc;
}
.comments-container .write-comment-container {
  padding: 20px 20%;
}
.comments-container .write-comment-container textarea {
  padding: 10px;
  width: 100%;
  height: 75px;
  resize: none;
}
.comments-container .write-comment-container .extras {
  width: 100%;
  display: grid;
  margin-bottom: 20px;
}
.comments-container .write-comment-container .extras button.commentButton {
  place-self: flex-end;
  padding: 5px 10px;
  border: 1px solid grey;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  letter-spacing: 1.25px;
  cursor: pointer;
}
.comments-container .comments {
  padding: 0 80px 20px 60px;
}
.comments-container .comments .comment {
  margin: 0;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 10px 0;
  margin-left: 7px;
}
.comments-container .comments .comment .username {
  font-size: 0.8em;
  opacity: 0.8;
  text-decoration: none;
  color: inherit;
}
.comments-container .comments .comment .comment-text {
  margin: 5px 0 5px 0;
}
div.vote {
  opacity: 0.75;
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 50px;
  row-gap: 5px;
  place-self: center baseline;
}
div.vote .arrow-up.selected,
div.vote .arrow-down.selected {
  color: #fa541c;
}
div.vote .arrow-up {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  transform: rotate(-90deg) translateY(-3.5px);
  width: 15px;
  height: 15px;
  place-self: end;
}
div.vote .arrow-down {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  transform: rotate(90deg) translateY(-4px);
  width: 15px;
  height: 15px;
}
.sort {
  margin: 20px 0;
}
.sort label {
  display: block;
}
.comment-extras {
  margin-top: 5px;
}
.comment-extras .reply-button {
  font-size: 0.7em;
  opacity: 0.5;
  font-weight: bold;
  transition: opacity 80ms ease;
  color: #333;
  cursor: pointer;
}
.comment-extras .reply-button:hover {
  opacity: 0.8;
}
.reply-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  place-items: center;
}
.reply-window.hidden {
  display: none;
}
.reply-window .original {
  width: 25%;
  padding: 10px 20px;
  background-color: #f2f2f2;
  place-self: end center;
}
.reply-window .reply-container {
  flex: 1;
  z-index: 200;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  row-gap: 25px;
  place-items: center;
}
.reply-window .reply-section {
  place-self: start center;
  width: 25%;
}
.reply-window .reply-section textarea {
  width: 100%;
  height: 50px;
  resize: none;
  padding: 5px;
}
.reply-window .reply-section button {
  float: right;
  padding: 5px 15px;
  background-color: #f2f2f2;
  font-weight: bold;
  border: 1px solid #333;
  cursor: pointer;
  margin: 10px 0;
}
.comment.child {
  padding-left: 30px !important;
  grid-column: 1 / span all;
  margin-bottom: 0 !important;
  border-left: 2px solid rgba(50, 50, 50, 0.5);
}
.comment-extras {
  display: flex;
}
.comment-extras span {
  margin: 0 5px;
  font-size: 0.7em;
  opacity: 0.5;
  font-weight: bold;
  transition: opacity 80ms ease;
  color: #333;
  cursor: pointer;
}
.comment-extras span:first-child {
  margin-left: 0;
}
.comment-extras span:last-child {
  margin-right: 0;
}
.comment div.answer {
  color: #389e0d !important;
  font-weight: bold;
}
.comment-count {
  margin: 10px 0 20px 0;
  text-align: center;
  font-size: 1.2em;
  opacity: 0.6;
  font-weight: bold;
  color: #333333;
}
.user-details {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: baseline;
}
body[class^=route-user-] .region-main {
  padding: 0;
  margin: 0;
}
.user-description {
  display: grid;
  margin: 0 20vw;
  grid-template-columns: 80px 1fr;
  column-gap: 20px;
}
.user-description .logged-in-as {
  opacity: 0.8;
  color: #333;
}
.user-description form {
  margin: 10px 0;
}
.user-description form input[type=submit] {
  width: 100%;
  font-size: 1em;
  padding: 5px 0;
  background-color: #f5222d;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.activity {
  margin: 0 10vw;
  margin-top: 40px;
  display: grid;
  place-items: start center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5vw;
}
span.light {
  font-size: 0.8em;
  opacity: 0.8;
  color: #333;
}
.comments {
  width: 100%;
}
.comments h3 {
  margin-bottom: 10px;
}
.comments .comment-container {
  margin: 20px 0;
  padding: 10px 40px;
  width: 100%;
  background-color: #f2f2f2;
}
.comments .post-wrapper {
  margin: 20px 0;
}
.comments .comment {
  margin: 20px 0;
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.user-post {
  width: 100%;
}
.posts {
  width: 100%;
}
