body[class=route-about] {
    main a {
        color: cornflowerblue;
    }

    p {
        font-size: 1em;
        margin-bottom: 20px;
        line-height: 150%;
        color: #333;
        font-weight: 500;
    }

    h1 {
        margin: 10px 0 20px 0;
    }

    .image-text-combo {
        display: grid;
        grid-template-columns: 135px 1fr;
        place-items: end;
        height: 200px;
        gap: 10px;

        img {
            height: 100%;
            transform: rotateY(180deg);
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}